#selection-modal
  form#selection-form.form-horizontal(role='form')
    .row
      .col-xs-12
        .selection-modal-introduction
          p 所有选中的老师都将被一键满分好评，主观评价会从25条语句库里随机抽取。
          p 默认所有老师都是选中状态，您只需要取消勾选您想手动评价的老师即可。
        hr
        h4.lighter.blue 学生评教（课堂教学）
        #ktjx-checkbox-wrapper.checkbox-wrapper
        h4.lighter.blue 学生评教（实验教学）
        #syjx-checkbox-wrapper.checkbox-wrapper
        h4.lighter.blue 学生评教（实践教学）
        #sjjx-checkbox-wrapper.checkbox-wrapper
        h4.lighter.blue 学生评教（实验实践）
        #sysj-checkbox-wrapper.checkbox-wrapper
        h4.lighter.blue 学生评教（体育教学）
        #tyjx-checkbox-wrapper.checkbox-wrapper
        h4.lighter.blue 研究生助教评价
        #yjs-checkbox-wrapper.checkbox-wrapper
        h4.lighter.blue UIP国际课程学生评教
        #uip-checkbox-wrapper.checkbox-wrapper
