.col-sm-12.widget-container-col
  .widget-box
    .widget-header
      h5.widget-title
        | 我的成绩
        span.badge.badge-primary(style='padding-top:3px;position:relative;top:-3px;') SCU URP 助手
      .widget-toolbar
        .widget-menu
          a#gpa-toolbar-detail(data-action='settings', data-toggle='dropdown')
            i.ace-icon.fa.fa-bars
          a#gpa-toolbar-reset(data-action='reload')
            i.ace-icon.fa.fa-refresh
    .widget-body
      .widget-main
        .row
