li.light-orange(style='text-align: center;')
  a(href='#', onclick="javascript:window.open('https://zhaoji.wang/sichuan-university-urp-assistant/');")
    i.ace-icon.fa.fa-gavel
    |
    | SCU URP 助手 #{version}
